body {
    background-image: url('https://i.ibb.co/7yB8f9n/background.jpg');
    background-size: cover;
    margin: 0;
}

#box {
    opacity: 0.95;
    background-color: black;
    width: calc(100vw - 20vw);
    height: 0px;
    top: 100vh;
    left: 10vw;
    position: absolute;
    animation-name: box-move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    text-align: center;
}

#menu {
    opacity: 1;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: ". . ."; 
    gap: 100px;
    margin-right: 5px;
    top: calc(10vh / 2 - 32px / 2);
    width: 30vw;
    height: 32px;
    left: calc(99vw - 30vw);
}

#welcome-button {
    color: white;
}

#projects-button {
    color: white;
}

#contact-button {
    color: white;
}

#logo {
    opacity: 1;
    width: 512px;
    height: 64px;
    position: absolute;
    top: calc(10vh / 2 - 32px);
    left: 1vw;
}